
.descsect{
	
}
.skillssect{
	
}
.edusect{
	
}
.parallax{
	background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
	z-index: -9999;
	background-image: url(images/school_repeat.png);

	
}
.aboveparallax{
	margin:auto;
	width:100%;
	height: 2000px;
	z-index: 1;
	background: rgba(233, 233, 233, 1);
	animation:comein;
	animation-duration: 2s;
	box-shadow:  2px -1px 20px 10px rgba(0,0,0,0.20);
}
.abouttitle{
  color: black;
    margin: auto;
    padding-top: 7vw;
    font-size: 10vw;
   padding-bottom: 6vw;
   animation:comein;
	animation-duration: 2s;

}
.aboutpara{

}
.basicskill{
	height: 10vw;
	width: 10vw;
	float: left;
	margin: 5px;
}
.skilltitle{
	margin-left: 10vw;
	font-size: 5vw;
}
.basicskill:hover{
	animation:rotate;
	animation-duration: .5s;
	transform: rotate(20deg)
}
.seccirc{
	margin: auto;
	width: 20vw;
	transform: translateY(3vw);
}
.circle{
	height: 20vw;
	width: 20vw;
	border-radius: 3000px;
	background-color: red;
	animation:comein;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
}
.skillarrange{
	margin: auto;
	width: 65%;
}

@keyframes comein{
	from
	{
		transform: translate(-400px);
		opacity: 0;
	}

	to
	{
		transform:translate(0px);
		opacity: 1;
	}
}
@keyframes rotate{
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(20deg);
	}
}
.photoshop{
    background-image: url(images/photoshop_icon.svg);
    background-size: cover;
}
.lightroom{
	background-image: url(images/lightroom_icon.svg);
    background-size: cover;
}
.illustrator{
	background-image: url(images/illustrator_icon.svg);
    background-size: cover;
}
.aftereffects{
	background-image: url(images/aftereffects_icon.svg);
    background-size: cover;
}
.dreamweaver{
	background-image: url(images/dreamweaver__icon.svg);
    background-size: cover;
}
.html_icon{
	background-image: url(images/html_icon.png);
    background-size: cover;
}

.css_icon{
	background-image: url(images/css_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
}


/*modal information and structures*/

.modal-window{
	height: 20vw;
	width:30vw;
	position: fixed;
	z-index: 3;
	top: 20vw;
	left: 40vw;
	display: none;
	overflow:hidden;

}

.photoshop:active ~ .modal-window{
	display:block;
	background-color: white;
	
}
.lightroom:active ~ .modal-window{
		display:block;
	background-color: white;
}.illustrator:active ~ .modal-window{
	display:block;
	background-color: white;
}.aftereffects:active ~ .modal-window{
		display:block;
	background-color: white;
}.dreamweaver:active ~ .modal-window{
	display:block;
	background-color: white;
}
.html_icon:active ~ .modal-window{
	display:block;
	background-color: white;
}
.css_icon:active ~ .modal-window{
		display:block;
	background-color: white;
}
